extends layout

block content
    h1 Lab1

    form(method="post" name="sportsman-edit")
        div.input
            span.label Фамилия
            input(type="text", name="lastName", value=sportsman.lastName)
        div.input
            span.label Имя
            input(type="text", name="firstName", value=sportsman.firstName)
        div.input
            span.label Вид спорта
            input(type="text", name="sportType", value=sportsman.sportType)
        div.buttons
            input(type="submit", value="Изменить")