extends layout

block content
    h1 Редактировать оборудование

    form(method="post" name="hardware-edit")
        div.input
            span.label Номер помещения
            input(type="text", name="roomNo", value=hardware.roomNo)
        div.input
            span.label Оборудование
            input(type="text", name="item", value=hardware.item)
        div.input
            span.label Ответственный
            input(type="text", name="responsible", value=hardware.responsible)
        div.buttons
            input(type="submit", value="Изменить")