extends layout

block content
  h1 Лабораторная работа 1

  form
    button(formmethod="get", formaction="/add/") Добавить

  div.table
    each hardware in hardwareItems
      div.sportsman
        div.lastName #{hardware.roomNo}
        div.firstName #{hardware.item}
        div.sportType #{hardware.responsible}
        div
          form
            button(formmethod="post", formaction='/delete/' + hardware.ID) Удалить
        div
          form
            button(formmethod="get", formaction='/edit/' + hardware.ID) Редактировать