extends layout

block content
  h1 Лабораторная работа 1

  form
    button(formmethod="get", formaction="/add/") Добавить

  div.table
    each sportsman in sportsmen
      div.sportsman
        div.lastName #{sportsman.lastName}
        div.firstName #{sportsman.firstName}
        div.sportType #{sportsman.sportType}
        div
          form
            button(formmethod="get", formaction='/delete/' + sportsman.ID) Удалить
        div
          form
            button(formmethod="get", formaction='/edit/' + sportsman.ID) Редактировать